<!DOCTYPE html>
<html lang="cs" ng-app="futra">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Futra</title>

	<link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/angular-motion.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet"  href="{$basePath}/css/turbine/css.php?files=mobile.cssp" />
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>

<body>
	<div ng-view class="container-fluid"></div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-sanitize.min.js"></script>
	<script src="{$basePath}/js/vendor/angular-strap.min.js"></script>
	<script src="{$basePath}/js/vendor/angular-strap.tpl.min.js"></script>
	<script src="{$basePath}/js/app/app.js"></script>
	<script src="{$basePath}/js/app/controllers.js"></script>
	<script src="{$basePath}/js/app/filters.js"></script>
	<script src="{$basePath}/js/app/services.js"></script>
	<script src="{$basePath}/js/app/directives.js"></script>
</body>
</html>