{block title}
Přidat nový pivovar
{/block}

{block content}
<div ng-init="breweryAdd.init()">
	{control breweryAddForm:horizontal}
</div>
{/block}

{block footer}
<button type="button" class="btn btn-success" ng-click="breweryAdd.save()">Zapsat změny</button>
{include parent}