<div class="panel-group" bs-collapse>
	<div ng-repeat="message in news"
		 class="panel panel-{{ message.user.context }}">
		<div class="panel-heading" bs-collapse-toggle>
			<h2 class="panel-title">{{ message.title }}	</h2>
		</div>
		<div class="panel-collapse" bs-collapse-target>
			<div class="panel-body">
				<p>{{ message.body }}</p>
				<p class="text-right">&mdash;
					{{ message.user.name }}</p>
			</div>
		</div>
	</div>
</div>